body {
  background-color: rgb(216, 206, 206);
  margin: 0;
  font-family: 'Lato', serif;
}
#overlay {
  background: rgb(216, 206, 206);  /* fallback for old browsers */
  text-align: center;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  position: fixed;
  color: #111;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  transition: all .5s;
  z-index: 10;
}
.title{
  font-size: 3em;
  letter-spacing: 5px;
}
.r{color: red;margin: 2px;}
.g{color:green;margin: 2px;}
.b{color:blue;margin: 2px;}
p{
  margin: 1em;
  font-size: .8em;
}
.author {
  font-size: .6em;
}
.hintImg{
  width: 40%;
  margin: auto;
  display: block;
  opacity: 0;
  transition: all .3s ease-in;
}
.play{
  border: 1px solid grey;
  color: #111;
  padding: .1em 1em;
  margin: 2em auto;
  background: transparent;
  border-radius: 2px;
}
.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  border-radius: .5em;
}
.wrapper {
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

#container{
  margin: 10% auto;
}
h1 {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  color: white;
  text-align: center;
  background: white;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 1em 0;
}
#colorDisplay {
  font-size: 125%;
  width: 100%;
}
#message {
  display: inline-block;
  width: 20%;
  font-weight: 700;
}

#stripe{
  background-color: white;
  height: 30px;
  text-align: center;
}
.selected{
  background: steelblue;
  color: white;
}
button {
  transition: all .3s;
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
}
button:hover {
  color: white;
  background: steelblue;
}
button:focus{
  outline: none;
}
@media(min-width: 768px){
  #container{
    width: 80%;
  }
  .wrapper {
    width: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

}
@media (min-width: 1024px) {
  #colorDisplay {
    font-size: 200%;
  }
  #container{
    margin: 0 auto;
    width: 50%;
    clear: both;
  }
  .square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
  }
  .hintImg{
    width: 20%;
    margin: auto;
    display: block;
    opacity: 0;
    float: right;
  }
}
